@import url("https://api.fontshare.com/css?f[]=switzer@100,101,200,201,300,301,400,401,500,501,600,601,700,701,800,801,900,901,1,2&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-size: 10px !important;
        /*font-size: 62.5% !important;*/
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;       /* Remove default arrow */
    }

    input{
        border:none;
    }

    input:focus, textarea:focus
    {
        border: 1px solid #000000;
        box-shadow: 0 0 3px #1670BE;
        outline: none;
    }
}

@layer utilities {
    .input-focused {
        @apply leading-[1.6rem] absolute bg-white left-[2.5rem] top-[-0.7rem] px-[0.5rem] text-[1.2rem]
    }
    input::placeholder {
        @apply font-[300]
    }
    .title{
        @apply mb-[2rem] italic text-[3.2rem] leading-[4rem] font-[800] text-black_rock uppercase
    }
    .in-up {
        @apply w-[8rem] text-left box-border right-[-8.6rem] absolute title
    }
    .signup-heading {
        @apply mb-[3.2rem] text-regent_grey text-[1.8rem]
    }

}
.select-options:hover{
    background-color: red;
}
input.disable-input-outline[type="text"]:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
}

.primary-button-color {
    background: linear-gradient(180deg, #EE6384 0%, #D9335B 100%);
}

.bg-blue-gradient {
    background: linear-gradient(90deg, rgba(27, 24, 83, 0) 0%, #1B1853 100%);
}

.grey-faded-1 {
    border: 1px solid transparent;
    border-image: linear-gradient(360deg, rgba(102, 100, 137, 0) -0.15%, #666489 54.62%, rgba(102, 100, 137, 0) 100%);
    border-image-slice: 1;
    /*will have no affect*/
    border-radius: 1px;
}


.grey-faded-2 {
    border: 1px solid transparent;
    border-image: linear-gradient(360deg, rgba(220, 227, 236, 0) -0.15%, #DCE3EC 54.62%, rgba(220, 227, 236, 0) 100%);
    border-image-slice: 1;
    /*will have no affect*/
    border-radius: 1px;
}

.grey-faded-3 {
    border: 1px solid transparent;
    border-image: linear-gradient(270deg, rgba(220, 227, 236, 0) -13.96%, #DCE3EC 55.55%, rgba(220, 227, 236, 0) 113.14%);
    border-image-slice: 1;
}

.footer-blue-gradient {
    background: linear-gradient(180deg, #2E2B63 0%, #252252 100%);
    box-shadow: 0 10px 50px rgba(8, 6, 41, 0.2);
}