@import url("https://api.fontshare.com/css?f[]=switzer@100,101,200,201,300,301,400,401,500,501,600,601,700,701,800,801,900,901,1,2&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-size: 10px !important;
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;       /* Remove default arrow */
    }

    input{
        border:none;
    }

    input:focus, textarea:focus
    {
        border: 1px solid #000000;
        box-shadow: 0 0 3px #1670BE;
        outline: none;
    }
}

@layer utilities {
    .input-focused {
        @apply leading-[1.6rem] absolute bg-white left-[2.5rem] top-[-0.7rem] px-[0.5rem] text-[1.2rem]
    }
    input::placeholder {
        @apply font-[300]
    }
    .title{
        @apply mb-[2rem] italic text-[3.2rem] leading-[4rem] font-[800] text-black_rock uppercase
    }
    .in-up {
        @apply w-[8rem] text-left box-border right-[-8.6rem] absolute title
    }
    .signup-heading {
        @apply mb-[3.2rem] text-regent_grey text-[1.8rem]
    }

}
.select-options:hover{
    background-color: red;
}

.primary-button {
    background: linear-gradient(180deg, #EE6384 0%, #D9335B 100%);
    box-shadow: 0px 4px 0px #CB3156;
    border-radius: 12px;
    height: 7rem;
}

